# Build results
target
/schema
artifacts
*node_modules
# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok
**/*.rs.bk
.DS_Store
*.iml
.idea
.env
art/generators/output
terp-export.json
validators.json
terp-api
vendor
.trailmark
.claude